<div class = "card-list-container py-5">
  <% @shop_images.each do |shop_image| %>
    <div class = "card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to public_shop_image_path(shop_image.id) do %>
        <%= image_tag shop_image.get_image, class:"card-img-top"; %>
      <% end %>
      <div class = "card-body">
        <div class = "row">

          <div class = "col-10">
            <p class = "card-title">
              <%= link_to(public_shop_image_path(shop_image.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span><%= shop_image.name %></span></strong>
              <% end %>
            </p>
            <p class="card-text">説明:<%= shop_image.caption %></p>
            <p><i class="fas fa-user"></i>投稿者:<%= link_to shop_image.customer.name, public_shop_image_path(shop_image.id), class:"text-dark" %></p>
            <p><%= link_to "#{shop_image.shop_comments.count}コメント", public_shop_image_path(shop_image.id), class:"text-dark" %></p>
            <p>
              <% if admin_signed_in? %>
                <%= link_to "削除", public_shop_image_path(shop_image.id), method: :delete, class:"btn btn-danger" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @shop_images %>
</div>
