<div class = "card-list-container py-5">
  <% @shop_images.each do |shop_image| %>
    <div class = "card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to public_shop_image_path(shop_image.id) do %>
        <%= image_tag shop_image.get_image, class:"card-img-top"; %>
      <% end %>
      <div class = "card-body">
        <div class = "row">
          <div class = "col-2">
            <%= image_tag shop_images.customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
          </div>
          <div class = "col-10">
            <p class = "card-title">
              <%= link_to(public_shop_image_path(shop_image.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span><%= shop_images.name %></span></strong>
              <% end %>
            </p>
            <p class="card-text">説明:<%= shop_image.caption %></p>
            <span><i class="fas fa-user"></i>By<%#= shop_image.customer.name %> | </span>
            <span><%= link_to "#{shop_image.shop_comments.count}コメント", public_shop_image_path(shop_image.id), class:"text-dark" %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @shop_images %>
</div>
