

<% @shop_images.each do |shop_image| %>
  <div>
    <%= link_to public_shop_image_path(shop_image.id) do %>
      <%= image_tag shop_image.get_image %>
    <% end %>

    <p>投稿ユーザー画像：<%= image_tag shop_image.customer.get_profile_image(100,100) %></p>
    <p>ショップ名：<%= shop_image.name %></p>
    <p>説明：<%= shop_image.caption %></p>
    <p>ユーザーネーム：<%= shop_image.customer.name %></p>
    <p><%= link_to "#{shop_image.shop_comments.count} コメント", public_shop_image_path(shopimage.id) %></p>
  </div>
<% end %>