<div class = "card-list-container py-5">
  <div class = "card w-50 mx-auto mt-4 shadow-lg">
    <div class = "card-body">
      <div class = "row">
        <div>
          <%= image_tag @shop_image.get_image %>
            <p>ショップ名：<%= @shop_image.name %></p>
            <p>説明：<%= @shop_image.caption %></p>
            <p>ユーザーネーム：<%= @shop_image.customer.name %></p>
            <p>投稿日時：<%= @shop_image.created_at.strftime('%Y/%m/%d') %></p>
            <% if @shop_image.customer == current_customer %>
              <%= link_to "削除", public_shop_image_path(@shop_image), method: :delete, class:"btn btn-danger" %>
          <% end %>
          <p id="favorite_buttons_<%= @shop_image.id %>">
            <%= render 'public/favorites/favorite', shop_image: @shop_image %>
          </p>

          <div id="comments_area">
            <%= render 'public/shop_comments/comment', shop_image: @shop_image %>
          </div>

          <div class="new-comment">
           <%= render 'public/shop_comments/form', shop_image: @shop_image, shop_comment: @shop_comment %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>