<div>
<%= image_tag @shop_image.get_image %>
  <p>ショップ名：<%= @shop_image.name %></p>
  <p>説明：<%= @shop_image.caption %></p>
  <p>ユーザーネーム：<%= @shop_image.customer.name %></p>
  <p>投稿日時：<%= @shop_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @shop_image.customer == current_customer %>
    <%= link_to "削除", public_shop_image_path(@shop_image), method: :delete, class:"btn btn-danger" %>
  <% end %>
  <% if @shop_image.favorited_by?(current_customer) %>
    <p>
      <%= link_to public_shop_image_favorite_path(@shop_image), method: :delete do %>
        ♥<%= @shop_image.favorites.count %>いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to public_shop_image_favorite_path(@shop_image), method: :post do %>
        ♡<%= @shop_image.favorites.count %>いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @shop_image.shop_comments.count %></p>
  <% @shop_image.shop_comments.each do |shop_comment| %>
    <%= shop_comment.customer.name %>
    <%= shop_comment.created_at.strftime('%Y/%m/%d') %><%= shop_comment.comment %>
    <% if shop_comment.customer == current_customer %>
      <%= link_to "削除", public_shop_image_shop_comment_path(shop_image_id: shop_comment.shop_image.id, shop_comment_id: shop_comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@shop_image, @shop_comment], url: public_shop_image_shop_comments_path(@shop_image.id) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>